.listing-photo {
    height: 600px;
    width: 50%;
    object-fit: cover;
    border-radius: 30px;
    float: right;
}

.listing-heading {
    font-size: 48pt;
    font-weight: bold;
    margin-bottom: 15px;
}

.listing-location::before {
    content: url('/assets/location-pin.svg') / '';
}

.listing-location {
    font-size: 24pt;
    margin-bottom: 15px;
}

.listing-features>.section-heading {
    color: var(--secondary-color);
    font-size: 24pt;
    margin-bottom: 15px;
}

.listing-features {
    margin-bottom: 20px;
}

.listing-features li {
    font-size: 14pt;
}

li {
    list-style-type: none;
}

.listing-apply .section-heading {
    font-size: 18pt;
    margin-bottom: 15px;
}

label,
input {
    display: block;
}

label {
    color: var(--secondary-color);
    font-weight: bold;
    text-transform: uppercase;
    font-size: 12pt;
}

input {
    font-size: 16pt;
    margin-bottom: 15px;
    padding: 10px;
    width: 400px;
    border-top: none;
    border-right: none;
    border-left: none;
    border-bottom: solid .3px;
}

@media (max-width: 1024px) {
    .listing-photo {
        width: 100%;
        height: 400px;
    }
}


/*
  Copyright Google LLC. All Rights Reserved.
  Use of this source code is governed by an MIT-style license that
  can be found in the LICENSE file at https://angular.io/license
  */

.loading-overlay {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* z-index: 1000; */
    /* Đảm bảo nó hiển thị trên tất cả các phần tử khác */
    background-color: rgba(255, 255, 255, 0.8);
    /* Màu nền với độ trong suốt */
    padding: 20px;
    /* border-radius: 10px; */
    /* box-shadow: 0 0 10px rgba(0, 0, 0, 0.5); */
    /* Đổ bóng */
}

.loading-overlay img {
    display: block;
    margin: 0 auto;
    width: 100px;
    /* Độ rộng của loading indicator */
    height: 100px;
    /* Chiều cao của loading indicator */
}

.content {
    opacity: 0.2;
    /* Độ mờ của nội dung */
    pointer-events: none;
    /* Ngăn các sự kiện click hoặc hover trên nội dung khi đang mờ */
}